@import url("https://fonts.googleapis.com/css?family=Poppins");
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #b63f3d;
}
.App {
  height: 100vh;
}
.left-container {
  height: 100%;
  width: 60%;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  background-color: #14181d;
  color: #fff;
  padding-left: 10%;
}

.two {
  display: flex;
  align-items: center;
}

.one li {
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  margin-left: 55px;
}

.one img {
  margin-left: 20px;
  position: absolute;
}

.menuicon {
  display: none;
}

.text img {
  display: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #55657a;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Poppins";
}

.text h1 {
  font-family: "Poppins";
  font-size: 4rem;
}

.text p {
  font-family: sans-serif;
  font-size: 1.6em;
}

.btn {
  background-color: #b63f3d;
  border: 0px solid #14181d;
  padding: 20px;
  border-radius: 15px;
  font-family: sans-serif;
  font-size: 1.2em;
  cursor: pointer;
  margin-top: 40px;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
}

.left-container img {
  margin-left: 50%;
  width: 100%;
}

@media only screen and (max-width: 700px) {
  .menuicon {
    display: inline;
    margin-right: 20px;
  }
  body {
    background-color: #14181d;
  }
  .left-container {
    padding: 0;
    display: inline;
  }
  .left-container img {
    margin: 0;
    padding: 0;
    display: none;
  }
  .text img {
    display: inline;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
  }
  .text h1 {
    font-size: 3rem;
    padding-left: 10%;
  }
  .text p {
    padding-left: 10%;
    padding-right: 10%;
  }
  .one li {
    color: #14181d;
  }
  .btn {
    margin: 10%;
    font-size: 1rem;
    background-color: #ffbf00;
  }
  .btn a {
    color: #14181d;
  }
  ul {
    background-color: #ffbf00;
  }
  .two {
    width: 100%;
    background-color: #ffbf00;
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 2;
    display: inline;
  }
  .two li {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .two {
    overflow: hidden;
    transition: 0.5s;
    max-height: 0px;
  }
  .two li a {
    color: #14181d;
  }
}
